.box {
    border: solid black 2px;
}

.innerOuter {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(172, 207, 221);
}

.outer {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.innerGameBox {
    margin: auto;
    width: 80%;
    height: 60%;
}

.inner {
    margin: auto;
}

* {}

.regExBox {
    height: 30%;
    box-sizing: border-box;
}

.answerBox {
    height: 50%;
    box-sizing: border-box;
}

.pointsBox {
    box-sizing: border-box;
    height: 20%;
    float: left;
}