body {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  padding: 2rem;
  padding-block: 2rem;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  overflow-x: hidden;
}

body div.content-box {
  min-width: min-content;
  width: 70rem;
  max-width: 90vw;
  height: min-content;
  max-height: 100%;
  transition: 500ms ease opacity;
}

body > div.game-box {
  box-sizing: content-box;
  padding: 1em;
  margin: 0.5em;
  border: 0.2em solid currentColor;
  border-radius: 2em;
  transition: 500ms ease height;
}

.button {
  border: 0.2em solid currentColor;
  border-radius: 1em;
  padding-inline: 3em;
}

button {
  color: currentColor;
  background: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: auto, serif;
  white-space: normal;
  word-break: break-all;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
}
