body.glow p,
body.glow h1,
body.glow h2,
body.glow .text-glow {
  text-shadow:
    0 0 1em currentColor,
    0 0 2em currentColor;
}

body.glow .box-glow {
  box-shadow:
    0 0 5em currentColor,
    0 0 1em currentColor inset;
}

body.glow .box-glow-light {
  box-shadow: 0 0 1em currentColor;
}

body.glow .box-glow-lighter {
  box-shadow: 0 0 0.5em currentColor;
}

body.glow .loading-animation::after {
  box-shadow:
    0 1.5em 2em -0.75em currentColor,
    0 -1.5em 2em -0.75em currentColor;
}
